@import "tailwindcss";

@layer base {
    @font-face {
        font-family: 'Melvins One';
        font-style: normal;
        src: local('Melvins One'), local('Roboto-Regular'), url(../fonts/Melvins-One.ttf) format('truetype');
    }
    *{
        font-family: 'Poppins','Montserrat', sans-serif;
    }
    h1,h2,h2>span{
        font-family: 'Melvins One';
    }
    h1:before{
        content: '"';
        font-family: 'Melvins One';
        position: absolute;
        top:0;
    }
    h1:after{
        content:'"';
        font-family:'Melvins One';
        position: absolute;
        bottom: 0;
    }
    .bg-green{
        background-color: #0F5C40;
    }
    .bg-beige{
        background-color: #FFE6B8;
    }
    .bg-orange{
        background-color: #EE7003;
    }
    .color-green{
        color: #0F5C40;
    }
    .color-beige{
        color: #FFE6B8;
    }
 @media(max-width:1024px) {
    #hero{
        background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(15, 92, 64, 1) 100%), url(../img/bg-hero.jpg);
        background-size: contain;
        background-position: 0 40px;  
        background-repeat: no-repeat
    }
        h1:before {
            left: 1.5rem;
        }
    
        h1:after {
            right: 1.5rem;
        }



}
        @media(min-width:1024px){
                    h1:before {
                            left: 3rem;
                        }
                    
                        h1:after {
                            right: 3rem;
                        }
            #hand:after{
                content: "";
                background-image: url(../img/hand.png);
                position: absolute;
                background-repeat: no-repeat;
                bottom: -10%;
                left: 0;
                background-size: 600px 600px;
                width:33%;
                height: 100%;
                display: inline-block;
                z-index: 10;
            }
                #hero {
                    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(15, 92, 64, 1) 100%), url(../img/bg-hero.jpg);
                    background-size: cover;
                    background-position: top center;
                }
        }

    
}